<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Placed</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        td {font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>

<h2>Students Placed</h2>

<table>
    <tr>
        <th>ROLL NO.</th>
        <th>Name</th>
        <th>Department</th>
        <th>Placed Company name</th>
        <th>Salary Package</th>
    </tr>
    <tr>
        <td>181</td>
        <td>BHARGAVI JOSHI</td>
        <td>ELECTRONICS AND COMMUNICATION</td>
        <td>Deloitte</td>
        <td>5 LPA</td>
    </tr>
    <tr>
        <td>92</td>
        <td>ABHSIHEK CHAVAN</td>
        <td>ELECTRONICS AND COMMUNICATION</td>
        <td>DXC</td>
        <td>4.5 LPA</td>
    </tr>
    <tr>
        <td>88</td>
        <td>RAHUL JADHAV</td>
        <td>Computer Science</td>
        <td>WIPRO</td>
        <td>5 LPA</td>
    </tr>
    <tr>
        <td>67</td>
        <td>LAXMIKANT</td>
        <td>Computer Science</td>
        <td>INFOSYS</td>
        <td>4.5 LPA</td>
    </tr>
    <tr>
        <td>33</td>
        <td>NAGAVENI</td>
        <td>Computer Science</td>
        <td>INFOSYS</td>
        <td>4.5 LPA</td>
    </tr>
    <tr>
        <td>99</td>
        <td>KUSHAL</td>
        <td>ELECTRONICS AND COMMUNICATION</td>
        <td>DXC</td>
        <td>4.5 LPA</td>
    </tr>
    <tr>
        <td>76</td>
        <td>SHARANU</td>
        <td>ELECTRONICS AND COMMUNICATION</td>
        <td>Cisco</td>
        <td>3.5 LPA</td>
    </tr>
    <tr>
        <td>94</td>
        <td>NITIN KUMAR</td>
        <td>ELECTRONICS AND COMMUNICATION</td>
        <td>Infosys</td>
        <td>4 LPA</td>
    </tr>
    <tr>
        <td>87</td>
        <td>NAGARAJ</td>
        <td>Computer Science</td>
        <td>GOOGLE</td>
        <td>5 LPA</td>
    </tr>
    <tr>
        <td>107</td>
        <td>RATHI</td>
        <td>Computer Science</td>
        <td>AMAZON</td>
        <td>10 LPA</td>
    </tr>
    <tr>
        <td>77</td>
        <td>PRASAD</td>
        <td>Mechanical</td>
        <td>Tech Mahindra</td>
        <td>4.5 LPA</td>
    </tr>
    <tr>
        <td>60</td>
        <td>BHUMIKA</td>
        <td>ELECTRONICS AND COMMUNICATION</td>
        <td>ACCENTURE</td>
        <td>10 LPA</td>
    </tr>
    
    <!-- Add more rows for other students -->
</table>

</body>
</html>
